<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../services/all-categories.html">

<dom-module id="issues-category-form">
  <template>
    <style>
      :host {
        display: block;
        position: absolute;
        width: 14em;
        top: 6em;
        right: 0;
        bottom: 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.3);
        background-color: white;
        transform: translateX(14em);
        transition: transform ease-in-out 0.3s;
      }

      :host([shown]) {
        transform: translateX(0);
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 1em;
      }

      h3 {
        text-align: center;
      }

      select,
      button {
        font-size: 125%;
        margin-bottom: 2em;
      }

      .caption {
        color: #444;
        text-align: center;
      }
    </style>

    <form on-submit="_onSubmit">
      <h3>Select Category</h3>
      <select value="{{selectedCategory::change}}">
        <template is="dom-repeat" items="[[availableCategories]]">
          <option value="[[item]]">[[item]]</option>
        </template>
      </select>
      <button>Save</button>
      <span class="caption">Currently selected: [[selectedCount]]</span>
    </form>
  </template>

  <script>
    Polymer({
      is: 'issues-category-form',
      properties: {
        selectedCategory: {
          type: String,
          value: getAllCategories()[0]
        },
        availableCategories: {
          type: Array,
          value: getAllCategories()
        },
        shown: {
          type: Boolean,
          reflectToAttribute: true,
          value: false
        },
        'selectedCount': Number
      },

      _onSubmit(event) {
        event.preventDefault();
        this.fire('submit', this.selectedCategory);
      }
    });
  </script>
</dom-module>
